.bg-col1 {
    background-color: #e8514f;
}

.bg-col2 {
    background-color: #e98074;
}

.bg-col3 {
    background-color: #8e8d8a;
}

.bg-col4 {
    background-color: #d8cca5;
}

.bg-col5 {
    background-color: #eae7dc;
}

.txt-col1 {
    color: #e8514f;
}

.txt-col2 {
    color: #e98074;
}

.txt-col3 {
    color: #8e8d8a;
}

.txt-col4 {
    color: #d8cca5;
}

.txt-col5 {
    color: #eae7dc;
}